@inject PresentationClient PresentationClient

<div class="data-card">
    <div class="data-card-header">
        <h2>@Country.Name</h2>
        <img src=@Country.Flag>
    </div>
    <div style="display: @(PresentationClient.GetDisplayParameter(PresentationClient.FieldsToPresent[ApiFieldNames.Population]))">Population: @Country.Population</div>
    <div style="display: @(PresentationClient.GetDisplayParameter(PresentationClient.FieldsToPresent[ApiFieldNames.Currencies]))">Currency: @Country.Currencies[0]["code"]</div>
    <div style="display: @(PresentationClient.GetDisplayParameter(PresentationClient.FieldsToPresent[ApiFieldNames.Domain]))">Domain: @Country.TopLevelDomain[0]</div>
    <div style="display: @(PresentationClient.GetDisplayParameter(PresentationClient.FieldsToPresent[ApiFieldNames.CallingCode]))">Calling Code: @Country.CallingCodes[0]</div>
    <div style="display: @(PresentationClient.GetDisplayParameter(PresentationClient.FieldsToPresent[ApiFieldNames.Capital]))">Capital: @Country.Capital</div>
    <div style="display: @(PresentationClient.GetDisplayParameter(PresentationClient.FieldsToPresent[ApiFieldNames.TimeZones]))">Time Zone: @Country.TimeZones[0]</div>
    <div style="display: @(PresentationClient.GetDisplayParameter(PresentationClient.FieldsToPresent[ApiFieldNames.Region]))">Region: @Country.Subregion</div>
    <div style="display: @(PresentationClient.GetDisplayParameter(PresentationClient.FieldsToPresent[ApiFieldNames.NativeName]))">Native Name: @Country.NativeName</div>
</div>

@code {
    [Parameter] public CountryModel Country { get; set; }
}
